<?xml version = "1.0" ?>
<!---TODO: Finish this with links for wheels, the links and joints of the sensors, and the chassis --->
<robot name="isabelle"/>
    <joint name ="back_left_wheel_hinge" type = "revolute">
        <parent link = "isabelle/chassis"/>
        <child link = "isabelle/back_left_wheel"/>
        <origin xyz ="0.1 0.13 0.1 0 1.5707 1.5707" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocty = "0"/>
    </joint>
    <joint name ="back_right_wheel_hinge" type = "revolute">
        <parent link = "isabelle/chassis"/>
        <child link = "isabelle/back_right_wheel"/>
        <origin xyz ="0.1 -0.13 0.1 0 1.5707 1.5707" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocty = "0"/>
    </joint>
    <joint name ="front_left_wheel_hinge" type = "revolute">
        <parent link = "isabelle/chassis"/>
        <child link = "isabelle/front_left_wheel"/>
        <origin xyz ="-0.1 0.13 0.1 0 1.5707 1.5707" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocty = "0"/>
    </joint>
    <joint name ="front_right_wheel_hinge" type = "revolute">
        <parent link = "isabelle/chassis"/>
        <child link = "isabelle/front_right_wheel"/>
        <origin xyz ="-0.1 -0.13 0.1 0 1.5707 1.5707" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocty = "0"/>
    </joint>
</robot>
