<?xml version = "1.0"?>

<launch>
    <!-- Load Hector mapping parameters -->
    <rosparam file = "$(find isabelle_nav)/config/mapping/hector.yaml"/>
    <node pkg="hector_mapping" type="hector_mapping" name="hector_slam" output="screen">
        <remap from="/scan" to="/isabelle/laserscan"/>
    </node>

    <!-- Launch move_base -->
    <node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">
        <rosparam file = "$(find isabelle_nav)/config/costmap_params/costmap_common_params.yaml" command = "load" ns = "global_costmap" />
        <rosparam file = "$(find isabelle_nav)/config/costmap_params/costmap_common_params.yaml" command = "load" ns = "local_costmap"/>
        <rosparam file = "$(find isabelle_nav)/config/costmap_params/local_costmap_params.yaml" command = "load" />
        <rosparam file = "$(find isabelle_nav)/config/costmap_params/global_costmap_params.yaml" command = "load" />
        <rosparam file = "$(find isabelle_nav)/config/costmap_params/base_local_planner_params.yaml" command = "load" />
        <rosparam file = "$(find isabelle_nav)/config/costmap_params/global_planner_params.yaml" command="load"/>
    </node>
    
    <node pkg="isabelle_nav" type="goalSetter.py" name="goalSetter" output="screen"/>
	

</launch>

<!-- REFF: http://wiki.ros.org/navigation/Tutorials/RobotSetup#Navigation_Stack_Setup  -->
