<launch>
    <param name="/use_sim_time" value="true" />
    <!-- configure any CLI arguments -->
    <arg name = "robot_desc" default = "$(find isabelle_sim)/models/isabelle/model.urdf"/>
    <arg name = "world" default = "empty"/>
    <arg name = "gazebo" default = "true" />

    <!-- launch gazebo_ros -->
    <include file = "$(find gazebo_ros)/launch/empty_world.launch">
        <arg name = "world_name" value = "$(find isabelle_sim)/worlds/$(arg world).world"/>
        <arg name = "paused" value = "false"/>
        <arg name = "use_sim_time" value = "true"/>
        <arg name = "gui" value ="$(arg gazebo)"/>
        <arg name = "recording" value = "false"/>
        <arg name = "debug" value = "false"/>
        <arg name = "verbose" value = "true"/>
    </include>

    <!-- load robot description to parameter server (for robot_state_publisher) -->
    <param name = "robot_description" textfile = "$(arg robot_desc)"/>
    <!-- use robot description to publish robot tf tree -->
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher">
        <param name = "tf_prefix_" type = "string" value = "isabelle"/>
    </node>

    <!-- publish tf transforms between joints -->
    <node name = "joint_state_publisher" pkg = "joint_state_publisher" type = "joint_state_publisher"/>

    <!-- We need to launch the ekf_localization node using the parameters in /config-->
    <node name = "ekf_filter_node" pkg = "robot_localization" type = "ekf_localization_node" output = "screen">
        <param name="map_frame" value="isabelle/map"/>
        <param name="odom_frame" value="isabelle/odom"/>
        <param name="base_link_frame" value="isabelle/base_link"/>
        <param name="world_frame" value="isabelle/odom"/>
    </node>
    <!-- launch rviz with specified configuration (if CLI arg is true)-->

    <!-- We need to launch the slam node using the parameters in /config-->

    <!-- publishes the pose (geometry_msgs/PoseWithCovarianceStamped) of robot from simulation plugin (nav_msgs/Odometry) -->
    <!-- <node pkg="ugv_sim" type="pose_publisher.py" name="pose_publisher" output="screen" /> -->
     <include 
        file="$(find isabelle_nav)/launch/isabelle_move_base.launch"> 
    </include>
    
</launch> 